/* administracion de itinerarios */
.tic-itineraries-management {
  font: 1.8em "typewriter", sans-serif;
}
/* Contenedor del Formulario */
.tic-form-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* Contenedores flexibles */
.tic-flexFields {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
/* Grupos de formulario */
.tic-form-group {
  flex: 1;
  position: relative;
  margin-bottom: 0;
 /* margin-bottom: 15px;*/
}

.tic-form-group label {
  font: 0.8em "typewriter", sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #555;
}
/* Botones */
.tic-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 20px;
  margin-top: 10px;
}

.tic-button:hover {
  background-color: #45a049;
}

.tic-form-group input[type="text"],
.tic-form-group input[type="number"],
.tic-form-group input[type="datetime-local"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.tic-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tic-table th,
.tic-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tic-table th {
  background-color: #f2f2f2;
}